{% extends "./_layout.html" %}
{% block title %}{{ username }} - {% endblock %}

{% block content %}

<h3>User profile</h3>

<ul>
    {% for error in errors if errors|length > 0 %}
    <li>{{error}}</li>
    {% endfor %}
</ul>

{% with messages = get_flashed_messages() %}
{% if messages %}
<!-- <p class="bg-info" style="padding: 15px;"> -->
    {% for message in messages %}
    {{ message }}<br>
    {% endfor %}
</p>
{% endif %}
{% endwith %}

<img src="{{ user.profile_image_url }}" class="rounded-circle" height="250px" width="250px">

<p>
    @{{user.username}} <br/>
    {{user.first_name}} <br/>
</p>

{% if current_user.id == user.id %}
    <form id="upload-form" class="upload-form" action="{{ url_for('images.create') }}" method="POST" onSubmit='disableButton()' enctype="multipart/form-data">
        <input type='hidden' name='csrf_token' value="{{csrf_token()}}" />
        <p><input type="file" name="upload_pic"></p>
        <button id="upload_button" type="submit" class="btn btn-primary">Upload</button>
    </form>
{% endif %}

{% if user.private == False or current_user.id == user.id %}
    {% for img in user.images[0:10] %}
    <img src ="{{ img.feed_image_url }}" class="rounded-0" height="350px" width="350px">
    {% endfor %}
{% else %}
    <p>This user's profile is private. Follow them to show their images.</p>
{% endif %}

{% endblock %}